@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap");



.navegacion{
  width: 100%;
  height: 80px;
  background: #222831;
}

.navegacion ul{
  list-style: none;
  
}

.navegacion > ul{
  float: right;
}

.menu > li{
  position: relative;
  display: inline-block;
  
}
.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #f2f2f2;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.menu > li > a:hover{
  background-color: #CE7D35;
  transition: all .3s;
}

.navegacion ul button{
  float: right;
background-color: rgb(204, 13, 118);
color: #f2f2f2;
margin: 7px 8px;
border: 0;
padding: 10px;
border-radius: 5px;
cursor: pointer;
width: 100px;
font-size: 14px;
font-weight: 600;
transition: 0.5s all;
}

.submenu{
  position:absolute;
  background: #333333;
  width: 100px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.submenu li a{
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}


.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}

.submenu li a:hover{
  color: #CE7D35;
  transition: all .3s;
}

.navegacion ul button:hover{
  background-color: rgb(230, 23, 23);
 
}

.container {

  display: flex;
  width: 100%;
  flex-direction: row;
  font-family: "Work Sans", sans-serif;
  gap: 15%;
 
}

.form{
  width: 400px;
  height: 450px;
  background:#DDDDDD;
  padding:10px;
  border-radius: 15px;
  float: left;
  margin: 10px 0px 10px 10%;
}

form .form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 5% 1% 5%;
}

form .form-container h1{
  text-align: start;
  font-size: 35px;
}

form .form-container input{
  width: 320px;
  height: 20px;
  margin: 16px;
  outline: 0;
  border: 0;
  border-bottom: 4px solid #afafaf;
  font-size: 12px;
  background-color: #DDDDDD;
  transition-duration: .2s
}

form .form-container input:hover{
  height: 30px;
  border-bottom: 4px solid #afafaf;
}

form .form-container input:focus{
  height: 30px;
  border-bottom: 4px solid #afafaf;
}

form .form-container label{
  align-self:flex-start;
  margin: 1px 1px 1px 16px;
  font-size: 16px;
  font-weight: bold;

}

form .form-container button{
  width: 90%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background: #222831;
  color: #afafaf;
  transition: .2s all;
}

form .form-container button:hover{
  transform: scale(1.05);
}
form .form-container button:active{
  transform: scale(.98);
  background: #323a47
}

.example-list{
  font-family: "Work Sans", sans-serif;
  border: solid 1px #ccc;
  min-height: 60px;
  background-color: #DDDDDD;
  border-radius: 4px;
  overflow: hidden;
}

.example-box{
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  box-sizing: border-box;
  cursor: move;
  background-color: #DDDDDD;
  font-size: 14px;
}

.lista-drag{
  width: 100%;
}

.lista-drag .example-list2{
  font-family: "Work Sans", sans-serif;
  width: 100%;
  height: 50px;
  margin: 10px 0px 10px 0px;
  border: solid 1px #ccc;
  display: block;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}


.lista-drag .example-box2{
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box2:last-child {
  border: none;
}

.example-list2.cdk-drop-list-dragging .example-box2:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



