<app-navbar-worker></app-navbar-worker>


<div class="vacio" *ngIf="tasks.length == 0; else main_content">
    <h1>No hay tareas por ahora, buen trabajo</h1>
</div>


<ng-template #main_content>
    <div class="container">
        <div class="card" *ngFor="let task of tasks">
            <div class="card-title">
                <p>{{task.nombreTarea}}</p>
            </div>
            <div class="card-desription">
                <p>{{task.descripcion}}</p>
            </div>
            <div class="buttons">
                <button (click)="completeTaskC(task._id)">Completar<i class="fa-solid fa-circle-check"></i></button>
            </div>
        </div>
    </div>
</ng-template>


