<nav class="navegacion">
    <ul class="menu">
        <li><a href="/boss">Inicio</a></li>
        <li><a href="boss/tareas">Tareas</a>
            <ul class="submenu">
                <li><a href="/boss/tareas/formt">Añadir</a></li>
            </ul></li>
        <li><a href="/boss/proyectos">Proyectos</a>
            <ul class="submenu">
                <li><a href="/boss/proyectos/formp">Añadir Proyectos</a></li>
                <li><a href="#">Agregar Emp.</a></li>
                <li><a href="#">Agregar Tareas</a></li>
            </ul>
        </li>
        <li><a href="/boss/trabajadores">Trabajadores</a>
            <ul class="submenu">
                <li><a href="/boss/forme">Añadir</a></li>
            </ul>
        </li>
        <button (click)="logout()">Logout</button>
    </ul> 
</nav>
