<app-navbar></app-navbar>


<div class="container">
    <form #loginform="ngForm" (ngSubmit)="login_Component(loginform)" class="form">
        <div class="form-container">
            <h1>Agregar Usuario</h1> 
            <div class="input-data">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="empleado.nombre">
            </div>
            <div class="input-data">
                <label>Email</label>
                <input type="text" name="email" [(ngModel)]="empleado.email">
            </div>
            <div class="input-data">
                <label>Contraseña</label>
                <input type="text" name="contrasena" [(ngModel)]="empleado.contrasena" >
            </div>
            <div class="input-data">
                <label>Edad</label>
                <input type="text" name="edad" [(ngModel)]="empleado.edad">
            </div>
            <div class="input-data">
                <label>Cargo</label>
                <input type="text" name="cargo" [(ngModel)]="empleado.cargo">
            </div>
            <div class="input-data">
                <label>sueldo</label>
                <input type="number" name="sueldo" [(ngModel)]="empleado.sueldo">
            </div>
            <div class="input-data">
                <label>Tipo de Usuario</label>
                <select name="tipoUsuario" id="selectType"  [(ngModel)]="empleado.tipoUsuario">
                    <option selected>Trabajador</option>
                    <option>Admin</option>
                </select>
            </div>
            <button type="submit" id="login-button">Crear</button>
        </div>
        
       
    </form>
</div>
