<nav class="navegacion">
    <ul class="menu">
        <li><a href="/boss">Inicio</a></li>
        <li><a href="/boss/formt">Tareas</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
            </ul></li>
        <li><a href="/boss/formp">Proyectos</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
                <li><a href="#">Agregar Tareas</a></li>
            </ul>
        </li>
        <li><a href="/boss/forme">Trabajadores</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul>
        </li>
        <button (click)="logout()">Logout</button>
    </ul>
    
</nav>


<div class="container">
    <form #loginform="ngForm" (ngSubmit)="login_Component(loginform)" class="form">
        <div class="form-container">
            <h1>Bienvenido</h1> 
            <div class="input-data">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="empleado.nombre">
            </div>
            <div class="input-data">
                <label>Email</label>
                <input type="text" name="email" [(ngModel)]="empleado.email">
            </div>
            <div class="input-data">
                <label>Contraseña</label>
                <input type="text" name="contrasena" [(ngModel)]="empleado.contrasena" >
            </div>
            <div class="input-data">
                <label>Edad</label>
                <input type="text" name="edad" [(ngModel)]="empleado.edad">
            </div>
            <div class="input-data">
                <label>Cargo</label>
                <input type="text" name="cargo" [(ngModel)]="empleado.cargo">
            </div>
            <div class="input-data">
                <label>Tipo de Usuario</label>
                <input type="text" name="tipoUsuario" [(ngModel)]="empleado.tipoUsuario">
            </div>
            <button type="submit" id="login-button">Crear</button>
        </div>
        
       
    </form>
</div>
