@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap");


.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:#30475E;
  font-family: "Work Sans", sans-serif;
}

form{
  width: 400px;
  height: 500px;
  background:#DDDDDD;
  margin: 10% ;
  padding:10px;
  border-radius: 15px 0px 0px 15px;
  margin: 0px 0px 0px 15%;
}

form .form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% 5% 40% 5%;
}

form .form-container h1{
  text-align: start;
  font-size: 45px;
}

form .form-container input{
  width: 320px;
  height: 20px;
  margin: 16px;
  outline: 0;
  border: 0;
  border-bottom: 4px solid #afafaf;
  font-size: 18px;
  background-color: #DDDDDD;
  transition-duration: .2s
}

form .form-container input:hover{
  height: 30px;
  border-bottom: 4px solid #afafaf;
}

form .form-container input:focus{
  height: 30px;
  border-bottom: 4px solid #afafaf;
}

form .form-container label{
  align-self:flex-start;
  margin: 1px 1px 1px 16px;
  font-size: 20px;
  font-weight: bold;

}

form .form-container button{
  width: 90%;
  height: 50px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background: #222831;
  color: #afafaf;
  transition: .2s all;
}

form .form-container button:hover{
  transform: scale(1.05);
}
form .form-container button:active{
  transform: scale(.98);
  background: #323a47
}


.container .ilustration{
  width: 600px;
  height: 520px;
  background:#222831;
  border-radius: 0px 15px 15px 0px;
}

.container .ilustration img{
  height: 400px;
  width: 500px;
  margin: 10%;
  float:right;
}




