<nav class="navegacion">
    <ul class="menu">
        <li><a href="/boss">Inicio</a></li>
        <li><a href="/boss/formt">Tareas</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
            </ul></li>
        <li><a href="/boss/formp">Proyectos</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
                <li><a href="#">Agregar Tareas</a></li>
            </ul>
        </li>
        <li><a href="/boss/forme">Trabajadores</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul>
        </li>
        <button (click)="logout()">Logout</button>
    </ul>
</nav>



<div class="container">
    <div class="card" *ngFor="let worker of workers">
        <div class="card-container">
            <div class="photo">
                <img src="../../../assets/img/default_user.jpg">
            </div>
            <div class="info-name">
                <h2 class="card-name">
                    Nombre: {{worker.nombre}}
                </h2>
                <p class="card-email">Email: {{worker.email}}</p>
            </div>
            <div class="data-info">
                <p class="data">Edad: {{worker.edad}}</p>
                <p class="data">Cargo: {{worker.cargo}}</p>
                <p class="data">Tipo: {{worker.tipoUsuario}}</p>
            </div>
        </div>
    </div>
    
</div>

<div class="graphs">
    <h1>Productividad: 1</h1>
    <h1>graficas: 1</h1>
    <h1>algo mas: 1</h1>
    <h1>algo mas: 1</h1>
</div>
