<nav class="navegacion">
    <ul class="menu">
        <li><a href="/boss">Inicio</a></li>
        <li><a href="/boss/formt">Tareas</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
            </ul></li>
        <li><a href="/boss/formp">Proyectos</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
                <li><a href="#">Agregar Emp.</a></li>
                <li><a href="#">Agregar Tareas</a></li>
            </ul>
        </li>
        <li><a href="/boss/forme">Trabajadores</a>
            <ul class="submenu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Eliminar</a></li>
            </ul>
        </li>
        <button (click)="logout()">Logout</button>
    </ul>
    
</nav>
